
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.H3_css{
  background-color : #999999;
  height : 20px;
  padding : 10px;
  color: black;
}
.con_clicked{
  background-color : #bbdb9d;
}

.div_css{
  background-color : #c6dfe7;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
